%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}
._icon-arrow-right:before {
	content: "\e900";
  }
  ._icon-box:before {
	content: "\e901";
	color: #7d806a;
  }
  ._icon-cart:before {
	content: "\e902";
	color: #7d806a;
  }
  ._icon-gift:before {
	content: "\e903";
	color: #7d806a;
  }
  ._icon-instagram:before {
	content: "\e904";
	color: #7d806a;
  }
  ._icon-leaf:before {
	content: "\e905";
	color: #7d806a;
  }
  ._icon-medium:before {
	content: "\e906";
	color: #7d806a;
  }
  ._icon-simple-box:before {
	content: "\e907";
	color: #7d806a;
  }
  ._icon-star:before {
	content: "\e908";
	color: #7d806a;
  }
  ._icon-tikTok:before {
	content: "\e909";
	color: #7d806a;
  }
  ._icon-twitter:before {
	content: "\e90a";
	color: #7d806a;
  }
  